* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #000;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

header {
    font-weight: 600;
    margin: 24px 12px;
}

section.flexContainer {
    display: flex;
    height: 100%;
    margin-bottom: 14px;
    flex-grow: 1;
}

nav {
    width: 10%;
    color: #FFF;
    font-weight: bold;
}

nav a {
    color: #FFF;
}

nav li {
    background-color: #d81118;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 50px;
    border-bottom-right-radius: 8px;
    line-height: 50px;
}

nav li:hover {
    background-color: #5A595F;
}

nav ul {
    margin: 0 auto;
    width: 80%;
}
section.mainBody {
    width: 75%;
    padding: 12px;
    border-top: 12px solid #d81118;
    border-left: 12px solid #d81118;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
}

aside {
    width: 15%;
    padding: 12px;
    word-wrap: break-word;
}

aside h5 {
    text-align: center;
}

aside a {
    color: #d81118;
}

aside a:hover {
    color: #d67f82;
}

footer {
    background-color: #5A595F;
    margin-top: auto;
    margin-bottom: 8px;
    margin-left: 10%;
    border-radius: 2px;
    width: 75%;
    padding: 12px;
    padding-bottom: 0;
    color: #FFF;
    text-align: center;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

h4, h5 {
    font-weight: bold;
}

footer li {
    display: inline-block;
    font-size: 2em;
    margin-right: 16px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #d67f82;
}

.custom-toggler:focus {
    outline: none;  
}

.redColour {
    color: #d67f82;
}


/* CSS FOR STYLING MAIN BODY CONTENTS */

section.mainBody a:hover
{
    color:  #d67f82 ;
}

section.mainBody h4 {
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 1em;
}

article.infoborder
{
    border: #d81118 outset 2px;
    background-color: #eee;
    padding: 1%;
    margin: 1%;
    margin-left: 1em;
}

/* GO TOP BUTTON */

#goTopBtn {
    visibility: hidden;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #d81118; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition-timing-function: ease;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
  }

  #goTopBtn:hover {
      background-color: #5A595F;
  }

  /*Making embedded video player responsive to bigger and smaller screen size*/
.embeddedVideo

{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    overflow:hidden;
    padding-bottom:20%;
    position:relative;
    height:0;
    
}
/*Making embedded video player responsive to bigger and smaller screen size*/
.embeddedVideo iframe
{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.videoDescription

{
    margin-top: 2%;
    
}

hr
{
    border-top-right-radius: 12px;
    border-width: 12px;
    border-color: #d81118 ;
}

/* Used for mobile responsiveness */

@media (max-width: 700px) {

    header h1 {
        font-size: 24px;
    }

    nav, section.mainBody, aside, footer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    aside {
        margin-top: 2em;
        margin-bottom: 1em;
        padding-top: 1em;
        border-top: 2px dashed #d81118;
        border-bottom: 2px dashed #d81118;
    }

    section.flexContainer {
       flex-flow: column;
    }

    nav {
        margin-bottom: 1em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    nav a {
        width: 50%;
    }

    nav li {
        width: 95%;
    }

} 



